@charset "utf-8";

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.description {
    text-align: center;
}

.input_name {
    margin-right: 2em;
}

.group {
    display: flex;
    flex-direction: row;
}

.return_text {
    margin-top: 5em;
}